.typo-subtitle1 {
  font-size: 15px;
  font-weight: 600;
  line-height: 24px;
}

.typo-subtitle2 {
  font-size: 13px;
  font-weight: 600;
  line-height: 24px;
}

.typo-paragraph1 {
  font-size: 15px;
  line-height: 20px;
}

.typo-paragraph2 {
  font-size: 13px;
  line-height: 18px;
}

.typo-caption1 {
  font-size: 12px;
  line-height: 16px;
}

.typo-caption2 {
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
}

.typo-label {
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  text-transform: uppercase;
}
