.home-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100dvh;
  padding-top: var(--appbar-height);
}

.home-list-wrapper {
  width: 30%;
}

.home-map-wrapper {
  width: 100%;
  height: 100%;
}
